<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AirLinesPrjv1">

	<listeners>
		<listener class-name="com.airLines.utilities.Reporting" />
	</listeners>


	<test name="Airlines App test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.airLines.testCases.TC_Login_001" />
		</classes>
	</test>
</suite>
